<h1><%=movieName%></h1>

<video controls width="500px"  src="<%=videoMagnet%>" data-path=""></video>


<script src="https://cdn.jsdelivr.net/npm/@webtor/player-sdk-js/dist/index.min.js" charset="utf-8" async></script>
